<!DOCTYPE html>
<html>
    <head>
        <title>TODO List</title>
    </head>
    <body>
        <h1>TODO List</h1>
        {% for item in items %}
            <div>
                <p>{{ item.name }}</p>
            </div>
        {% endfor %}
        <form action="{{ action('add') }}" method="{{ action('add').method }}">
            <div>
                <label for="form_name">New Todo Item</label>
                <input id="form_name" name="name"/>
            </div>
            <div>
                <button type="submit">Save Item</button>
            </div>
        </form>
    </body>
</html>