<!DOCTYPE html>
<html>
    <head>
        <title>TODO List</title>
    </head>
    <body>
        <h1>TODO List</h1>
        {% for item in items %}
            <div>
                <p>{{ item.name }}</p>
            </div>
        {% endfor %}
    </body>
</html>